<% if user_signed_in? %>
    <%= form_for @interested, :html => { :class => 'form-horizontal' } do |f| %>
        <fieldset>
          <legend><%= controller.action_name.capitalize %> How much are you willing to pay?</legend>

          <div class="control-group">
            <%= f.label 'How much are you willing to pay to take the class?', :class => 'control-label' %>
            <div class="controls">
              <%= f.text_field :price, :class => 'text_field' %>
            </div>
          </div>

          <!-- <div class="control-group">
          <%= f.label :user_id, :class => 'control-label' %>
          <div class="controls">
            <%= f.number_field :user_id, :class => 'number_field' %>
          </div>
        </div>
        -->
          <%= f.hidden_field :suggestion_id, :class => 'number_field' %>

          <!--<div class="control-group">
          <%= f.label :suggestion_id, :class => 'control-label' %>
          <div class="controls">

          </div>
        </div>                      -->

          <div class="form-actions">
            <%= f.submit "I'm interested!", :class => 'btn btn-primary' %>
            <%= link_to 'Cancel', interesteds_path, :class => 'btn' %>
          </div>
        </fieldset>
    <% end %>
<% else %>
    <%= redirect_to new_user_session  %>
<% end %>