<!DOCTYPE html>
<html>
<head>
  <title>Classrooms</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">  
  <div class="navbar-inner">  
    <div class="container">  
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".collapse">  
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>  
        <span class="icon-bar"></span>  
      </a>  
      <a class="brand" href="#">Classrooms</a>  
      <div class="nav-collapse">  
        <ul class="nav">  
          <li><%= link_to "All Scheduled Classes" %></li>  
          <li><%= link_to "Class Suggestions", suggestions_path %></li>  
          <li><%= link_to "Contact Us" %></li>  
          <li><%= link_to "Your Classes" %></li>  
        </ul>  
      </div>  
    </div>  
  </div>  
</div>  
<div class="container">
    <div class="row">
        <div class="span9"><%= yield %></div>
        <div class="span3">
            <h2>About Us</h2>
            <div>
            <img src="/assets/dd.jpg" alt="picture of me" height="100" width="100">
            <p>Hi, I'm interested in a position as a Coder with your team. I've been involved in developing web applications for about 8 years, mostly as a business analyst and tester. Now want to expand my toolbox and learn to code. That's not to say I haven't done any coding in the past -- I've done a little. I've worked on ColdFusion projects (sorry, no link as those are internal to the US Air Force), <a href="http://www.testteam.us/ModularSpecPhase3_Tool/" target="_blank"> Java projects</a>, and I've done <a target="_blank" href="http://gentle-robot-5729.herokuapp.com/">my own experimenting</a> with Ruby on Rails. RoR is my favorite framework and it seems like knowing more about RoR would be good for my career. Anyway, I created the site you're on right now to demonstrate how awesome I am at Rails... so what are you waiting for give me a call (202-368-8674) or shoot me an <a href="mailto:davidrossdegroot@gmail.com">email.</a></p>	
        </div>
    </div>
</div>
</body>
</html>
